body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

section{
    position: relative;
    width: 100%;
    height:85px;
    background-position: center center;

}

header{
    padding: 0 95px;
    margin: 0px;
    width: 100%;
    height: 85px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: .5s;
}

ul{
    position: relative;
    margin-left: 50px;
    margin-top: 0px;
    padding:0;
    display: flex;
    float: left;
    transition: .5s;
}

ul li {
    list-style: none;
}

ul li a {
     position: relative;
     display: block;
     padding: 10px 20px;
     margin: 20px 0;
     text-transform: uppercase;
     text-decoration: none;
     color: #262626;
     font-weight: bold;
     transition: .5s;
}
ul li a:hover{
    background: #000;
    color: #fff;
}

.logout{
    height: 40px;
    width: 50px;
    margin-top: 20px;
    margin-left: 880px;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.logout:hover{
    -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
