.virtualizedBox {
  width: 26.3vw;
  height: 100%;
  margin-left: 1.8vw;
  position: relative;
  top: 3vh;
}

.columnFilter {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.butClass {
  position: relative;
  height: 5vh;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  transition: 0.5s;
  top: 5.5vh;
  left: 2vw;
  font-weight: bold;
}
